<div class="wrapper">
  <h1>States API</h1>
  <p>Mock API for Krushil Naik's CPL Project</p>
  <h2>Valid states (use state code):</h2>
  <ul>
    {{#each states}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
